## Các thư mục biên dịch sinh ra tự động (Rác)
[Bb]in/
[Oo]bj/
Generated\ Files/

## Thư mục cấu hình ẩn của Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Các file tạm, file log khi chạy ứng dụng
*.log
*.tmp